/*
input.ng-dirty {
 background: #f0af8b;
}
*/
.index--thumbnail {
  max-width: 150px;
  max-height: 150px;
}

img {
  max-width: 650px;
  max-height: 650px;
}

/*.btnSort {
  float:right;
}

.search {
  float: right;
}*/
